.t-shirts{
color:white;
text-align: center;
}
.tshirt-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally centers the images */
  }
  
  .tshirt-image {
    margin: 10px; /* Adjust as needed */
    width: 200px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 10px;
  }
  