/* Default styles for larger screens (e.g., desktop) */
body {
  background-color: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Distribute space evenly between elements */
 margin:5px
  
  /* Negative margin to counteract spacing */
}

.container>* {
  flex: 0 0 calc(25% - 10px);
  /* Adjust the width as needed */
  margin: 5px;
  /* Add margin for spacing between items */
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    /* Change to column layout */
  }

  .container>* {
    flex: 0 0 100%;
    /* Full width for column layout */
    margin: 5px;
    /* Add margin for spacing between items */
  }
}

.scroll-container {
  background-color: black;
  overflow: auto;
  white-space: nowrap;
  
}


.scroll-container .scroll-item {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
    
.pricetag{color:green}


.button {
  background-color:green;
  color: white;
  font-size: 8px;
  padding: 8px 23px;
  border-radius: 10px;
  margin-left: 10px;
  width: 80px;
}

.button:hover {
  background-color: green;
  color: black;
}
.dezlisante {
  text-align: center;
  /* Center the text horizontally */
  display: flex;
  align-items: center;
  /* Center the text vertically */
  justify-content: center;
  /* Center the text horizontally */
  height: 100%;
  /* You may need to set a specific height for the container */
  color:goldenrod;
  font-family:'Bebas Neue';
  margin-top:15px;
}

 .card {
  width:200px;
   font-size: 12px;
   flex: 0 0 auto;
   /* ADD */
   display: flex;
   /* ADD */
   flex-direction: column;
   margin-top: 5px;
   background-color:red;
   border-radius: 10px;
   padding: 10px;
   position: relative;
   padding-bottom: 10px;
   
  }
  .card:hover{
    background-color: red;
  }

 

 .cards-list {
   display: flex;
   flex-wrap: nowrap;
   gap: 20px;
   overflow-x: auto;

 }

 .band-image {
   width: 100%;
   border-radius: 9px;
   margin-bottom: 9px;
 }

 .band-title {
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 1.0vw;
   font-family: 'Bebas Neue';
   color: Black;
 }

 .category {
   display: flex;
   align-items: center;
   color: green;
   font-size: .8rem;
   margin-top: 10px;
   font-weight: bold;
   font-family: 'Bebas Neue';

 }

 .description {
   color: #f4c44b;
   font-family: 'Bebas Neue';
   font-size: .7rem;
   width: 285px;
   white-space: normal;
   /* Esto evita que el texto desborde el contenedor */
   overflow: hidden;
   text-overflow: ellipsis;
   
 }
 .card-zoom {
   transform: scale(1);
   transition: transform 0.3s;
   background-color: white;
   max-height:550px;
 }

 .card-zoom:hover {
   transform: scale(1.1);
   background-color:red;
 }